<%- include("partials/header", {post: null}) %>
    <br>

<div class="container">
	<div class="jumbotron">
		<h1>Welcome to the Social Media Page</h1>
		<p>The Social Media Page is a project developed by Karthik Kandikonda, Aditya Sriram, and Alex Wang. This project is 
		a simpler form of facebook.</p>
		<a href="/signup" class="btn btn-primary">Sign Up</a>
	</div>
</div>

<%- include("partials/footer") %>
