<%- include("../partials/header", {loggedIn: true, avatar, username, post: null}) %>
<br>
<div class = "container">
	<div class="card">
		<div class="card-body">
			<form action="/users/findfriends" method="GET">
				<h3>Search For a Friend</h3>
				<br>
				<div class="form-group">
			  		<div class="input-group mb-3">
						<input type="text" class="form-control" name="query" placeholder="Search For A Friend">
						<div class="input-group-append">
							<button class="btn btn-primary" name="groupsearch">Search</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
	<div class="card-deck">
		<% if(results) { %>
		<% results.forEach(function(result){ %>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><%= result.username %></h5>
					
					<form action="/users/addfriend" method="POST">
						<input type="hidden" name="friendId" value="<%= result._id %>">
						<button  class="btn btn-primary">Add Friend</button>
					</form>
				</div>
			</div>
		<% }); %>
		<% } %>
	</div>
</div>
<%- include("../partials/footer") %>